
:host {
    height: 100%;
    display: grid;
    place-items: center;
  }
  
.container, form {
  display: flex;
  flex-direction: column;
}


.button-login{
  margin: 10px;
  font-size: 16px;
  border-radius: 20px;
  text-decoration: none;
  height: 50px;
  box-shadow: 
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    @media(prefers-color-scheme: light){
      background-color: whitesmoke;
    }
}
