@use 'src/scss/theme/typography';

.title-books{
    @include typography.headline-medium;
    text-align: center;
    @media (max-width: 839px){
        @include typography.title-large;
    }
}

.book-button{
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 25px;
    @media (max-width: 853px){
        padding-right: 10px;
    }
    @media(prefers-color-scheme: dark){
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
    }
}

.book-panel{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.book-author{
    display: grid;
}

.book-author-name{
    @include typography.body-large ;
}

.book-name{
    @include typography.body-medium;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book-functions{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.books-button{
    @media (max-width: 853px){
        margin: 10px auto;
    }
    @media (max-width: 578px){
        margin: 0 auto;
        display: grid;
        grid-template-rows: 55px 55px 55px;
        width: 150px;
    }
}