<h1 class="title-books">Коллекция книг</h1>
<!-- <button mat-raised-button color='primary' (click)="addBook()">Добавить книгу</button> -->
<div class="books-button">
  <button class="book-button" mat-raised-button color='primary' (click)="addBooks()">Добавить книги</button>
  <button class="book-button" mat-raised-button color='primary' (click)="deleteBooks()">Удалить книги</button>
  <button class="book-button" mat-raised-button color='primary' (click)="addBook()">Cоздать книгу</button>
</div>

<div *ngFor="let book of books">
  <div class="book-panel">
    <div class="book-author">
      <div class="book-author-name">
        {{book.author}}
      </div>
      <div class="book-name">
        {{book.name}}
      </div>
    </div>
    <div class="book-functions">
      <button mat-icon-button (click)="editBook(book)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteBook(book)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
