@use 'theme/colors';
@use 'theme/typography';

$menuBreakpoint: 839px;

:root {
  --body-margins: 30px;
  //--body-grow: 0;
  //--body-columns: 4;
  //--body-gutters: 8px;

  @media(min-width: 632px) {
    --body-margins: 20px;
   // --body-columns: 12;
    //--body-gutters: 12px;
  }

  @media(min-width: 1240px) {
    --body-margins: 40px;
   // --body-grow: 1;
    //--body-gutters: 32px;
  }
  @media(min-width: 1400px) {
    --body-margins: 60px;
    //--body-grow: 1;
    //--body-gutters: 32px;
  }
} 

.mat-drawer-content{
  padding: 10px var(--body-margins);
}

.mat-drawer{
  padding: 10px 10px;
  box-shadow: 3px 1px 11px 1px rgba(34, 60, 80, 0.14);
  @media(max-width: $menuBreakpoint) {
    max-width: 85px;
  }
}

/*
.mat-sidenav-container {
  //flex-grow: 1;
  background-color: inherit;
  color: inherit;
}


.mat-sidenav {
  padding: 12px;
  width: 360px;
  border: none;
  background-color: colors.surface();
  color: colors.on-surface-variant();
  @media (max-width: $menuBreakpoint){
    width: 80px;
  }
}


/*.mat-drawer-content{
  flex-basis: 840px;
  flex-shrink: 1;
  flex-grow: var(--body-grow);
  margin-inline: var(--body-margins);
  grid-template-columns: repeat(var(--body-columns), 1fr);
  grid-column-gap: var(--body-gutters);  

  display: grid !important;
}*/

/*app-books{
  grid-column-start: 1;
  grid-column-end: 12;
}

.mat-drawer-content {
  height: auto !important;
}*/

.mat-icon{
  @media (max-width: $menuBreakpoint){
    margin-bottom: 4px;
  }
}

.mdc-list-item{
  @media (max-width: $menuBreakpoint){
    padding-left: 0;
    padding-right: 0;
  }
}

.mat-mdc-list-item {
  height: 56px !important;
  padding-inline: 16px 24px !important;
  border-radius: 28px;

  @media (max-width: $menuBreakpoint){
    padding-inline: 16px !important;
  }

  .mat-mdc-list-item-unscoped-content {
    @include typography.label-large;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    color: inherit;
    @media (max-width: $menuBreakpoint){
      display: flex;
      flex-direction: column;
      gap: 0;
      font-size: 10px;
    }
  }

  &.mat-mdc-list-item-active {
    background-color: colors.secondary-container();
    color: colors.on-secondary-container();
    --symbol-fill: 1;
    margin: 5px 0;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
           inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  }

  &.mat-mdc-list-item-interactive::before {
    background-color: currentColor;
  }

  &.mat-mdc-list-item-interactive:not(:focus):not(.mdc-list-item--disabled):hover::before {
    opacity: .08;
  }
}

$field-width: 180px;
$field-height: 56px;

@media(max-width: 632px) {
  $field-width: 126px;
  $field-height: 40px;
}

@media(max-width: 904px) {
  $field-width: 162px;
  $field-height: 51px;
}

@media(max-width: 1240px) {
  $field-width: 180px;
  $field-height: 56px;
}
@media(max-width: 1400px) {
  $field-width: 270px;
  $field-height: 84px;
}


.mat-mdc-form-field{
  width: 270px !important;
  height: 84px !important;
  font-size: 18px;
}

.mat-mdc-focus-indicator{
  padding: 25px;
}

.mat-mdc-text-field-wrapper{
  box-shadow: 
  -10px -10px 15px rgba(255, 255, 255, 0.5),
  10px 10px 15px rgba(70, 70, 70, 0.12),
  inset -10px -10px 15px rgba(255, 255, 255, 0.5),
  inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

/*
.mat-mdc-dialog-container, .mdc-dialog__surface {
  border-radius: 24px !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: var(--md-sys-color-surface-variant) !important;
}

.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: var(--md-sys-color-primary);
}

.mdc-text-field, .mdc-text-field__input {
  caret-color: var(--md-sys-color-primary) !important;
  color: var(--md-sys-color-primary) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--md-sys-color-surface-variant);
}*/

.mat-mdc-raised-button:not(:disabled) {
  background-color: var(--md-sys-color-surface);
}

.mdc-button--raised {
  padding: 0 24px 0 24px;
  margin: 10px;
  font-size: 16px;
  @media (max-width: $menuBreakpoint){
    font-size: 14px;
  }
}

/*
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: var(--md-sys-color-on-secondary-container) !important;
}

.mat-mdc-dialog-container, .mdc-dialog__title {
  color: var(--md-sys-color-on-surface) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--md-sys-color-primary) !important;
}

/*.mdc-button__label{
  color: var(--md-sys-color-on-primary) ;
}*/
/*
*/

.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
  height: 40px;
  border-radius: 20px;
}

.mdc-dialog__surface {
  overflow-y: hidden !important;
  @media (max-width:760px){
    max-width: 320px !important;
  }
}

// .mdc-dialog__actions{
//   padding: 0 24px !important;
// }

@media(prefers-color-scheme: dark) {
  .mat-mdc-button[disabled][disabled] {
    --mdc-text-button-disabled-label-text-color: #c7beaa;
    --mdc-text-button-label-text-color: #c7beaa;
  }
  .mat-mdc-button.mat-unthemed {
    --mdc-text-button-label-text-color: #c7beaa;
}
}